button {
    width: 75.6%;
    height: 50px;
    cursor: pointer;
    background-color: #0d47a1;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    border: none;
    margin-top: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}